.main-container {
    margin-left: 300px;
    margin-top: -92%;
}

.main-container h1 {
    background: linear-gradient(135deg, #363887, #F05A26);
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}

.main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #888888;
    width: 45vh;
    height: 35vh;
    animation: fadeIn 0.6s ease-out;
    color: var(--primary-color);
    background-color: var(--white);
    position: relative;
    margin-bottom: 40px;
}

.card-inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.card canvas {
    width: 100% !important;
    height: 70% !important;
}

.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px #888888;
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}

table tr:hover {
    background-color: #f1f1f1;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 768px) {
    .main-container {
        margin-top: -200vh;
        margin-left: 270px;
    }

    .main-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        margin-bottom: 30px;
        width: 30vh;
    }
}

@media screen and (max-width: 576px) {
    .main-container {
        margin-top: -210vh;
    }

    .main-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        width: 45vh;
        height: 42vh;
    }
}

@media screen and (max-width: 480px) {
    .main-container {
        margin-top: -240vh;
        margin-left: 140px;
    }

    .card {
        width: 45vh;
        height: 45vh;
        margin-left: -10px;
    }
}

@media screen and (max-width: 320px) {
    .main-container {
        margin-top: -250vh;
        margin-left: 120px;
    }

    .card {
        width: 35vh;
        height: 50vh;
        z-index: -1;
    }
}



.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 8px #888888;
    border-radius: 8px;
    overflow: hidden;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}

table tr:hover {
    background-color: #f1f1f1;
}